<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./node_modules/nes.css/css/nes.min.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>Homepage</title>
    
</head>
<body>
    <header>
        <nav>
            <ul class="sidebar">
                <li><a href="#">Welcome, User!</a></li>
                <li><a href="#">Add Media</a></li>
                <li><a href="#">Logbook</a></li>
                <li><a href="#">Achievments</a></li>
                <li><a href="#">Sign Out</a></li>
            </ul>
            <ul>
                <li><a href="#">Welcome, User!</a></li>
                <li><a href="#">Add Media</a></li>
                <li><a href="#">Logbook</a></li>
                <li><a href="#">Achievments</a></li>
                <li><a href="#">Sign Out</a></li>
                <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="24px" fill="#ffffff"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
